.cardcomponent{
    height: 180px;
    width: 320px;
    background-color: rgb(236, 136, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    border-radius: 10px;
}
.firstcont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secondcont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}